<p>footer works!</p>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2023 Mi Sitio Web. Todos los derechos reservados.</p>
            </div>
            <div class="col-md-6">
                <ul class="list-inline text-md-right">
                    <li class="list-inline-item"><a href="#">Inicio</a></li>
                    <li class="list-inline-item"><a href="#">Acerca de</a></li>
                    <li class="list-inline-item"><a href="#">Servicios</a></li>
                    <li class="list-inline-item"><a href="#">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>