<footer>
    <div class="footer-container">
        <div class="footer-column">
            <h3>Enlaces</h3>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Contacto</h3>
            <p>Correo: info@example.com</p>
            <p>Teléfono: 123-456-7890</p>
        </div>
        <div class="footer-column">
            <h3>Síguenos</h3>
            <ul class="social-icons">
                <li><a href="#"><img
                            src="https://firebasestorage.googleapis.com/v0/b/proyectofinal-3f970.appspot.com/o/facebook.png?alt=media&token=e25ec280-458a-4f07-842a-5809864343b1"
                            class="imgred"></a></li>
                            <p> Facebook</p>
                <li><a href="#"><img
                            src=" https://firebasestorage.googleapis.com/v0/b/proyectofinal-3f970.appspot.com/o/instagram.png?alt=media&token=64e6b7d2-5fee-4834-9a0e-fd3cec4619f0"
                            class="imgred"></a></li>
                            <p>Instagram</p>
            </ul>
        </div> 
    </div>
    <div class="footer-bottom">
        <p>Derechos de autor &copy; 2023. Todos los derechos reservados.</p>
    </div>
</footer>