<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Ofertas</title>
</head>

<body>
    <div class="container p-5 my-5 bg-primary text-white">
        <h1>Ofertas y Promociones</h1>
        <p>Aqui puedes encontrar los productos que tienen ofertas vigentes</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="https://firebasestorage.googleapis.com/v0/b/proyectofinal-3f970.appspot.com/o/taladro.png?alt=media&token=df59e8c9-ba5d-4794-8b4a-2db0cdd98cee"
                        class="card-img-top" alt="Oferta 1">
                    <div class="card-body">
                        <h5 class="card-title">Oferta Taladro</h5>
                        <p class="card-text">Accede a la oferta del taladro solo por  el dia de hoy</p>
                        <a href="#" class="btn btn-primary">Ver detalles</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="https://firebasestorage.googleapis.com/v0/b/proyectofinal-3f970.appspot.com/o/herramientas.jpg?alt=media&token=fbfbe73f-588b-4d08-8078-bd725191b32b"
                        class="card-img-top" alt="Oferta 2">
                    <div class="card-body">
                        <h5 class="card-title">Oferta Herramientas manuales</h5>
                        <p class="card-text">Accede a la oferta de las herramientas manuales solo por el dia de hoy</p>
                        <a href="#" class="btn btn-primary">Ver detalles</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="https://firebasestorage.googleapis.com/v0/b/proyectofinal-3f970.appspot.com/o/amoladora.jpg?alt=media&token=78792ee7-a7c2-4c33-b093-a52afc0eceed"
                        class="card-img-top" alt="Oferta 3">
                    <div class="card-body">
                        <h5 class="card-title">Oferta Amoladora</h5>
                        <p class="card-text">Accede a la oferta de esta amoladora solo por el dia de hoy</p>
                        <a href="#" class="btn btn-primary">Ver detalles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>