<body>
    <section id="nosotros">
        <h1>Acerca de nosotros</h1>
        <h2>Nuestra Trayectoria</h2>
        <p>Nuestra empresa se apoya en diversos elementos principalmente en la generacion de confianza en nuestros
            trabajadore, clientes y proveedores logrando una mjeor organizacion y calidad de nuestros productos a
            ofrecer,
            con todo esto se ha logrado crear en nuestra compañia un sentido de pertenencia a lo largo del tiempo.
        </p>
        <hr>
        <h2>Proveedores y socios estratégicos</h2>
        <p>Al tener mas de 5 años de experiencioa en el mercado laboral y comercial se ha logrado mantener u8n punto de
            equilibrio
            y mejorar planes de negocio, que han hecho posible mantener precios fijos en tirmpos de inestabilidad
            política.
            para cerrar alianzas, fidelización de clientes y superar a la competencia, ya que se hace referencia a
            hechos
            comprobables y contados de primera fuente.
        </p>
        <hr>
        <h2>Misión</h2>
        <p>Proporcionar soluciones para la construcción, preparación y mejoramiento del entorno,
            con su servicio a tiempo y un equipo comprometido.</p>
        <hr>
        <h2>Visión</h2>
        <p>Ser líderes en el mercado de ferretería, construcción y decoración, ofreciendo un servicio rápido y eficiente
            basado en la innovación continúa y con la gente más especializada.</p>
    </section>

    <section id="terminos">
        <h2>Términos y Condiciones</h2>
        <p>Al acceder y utilizar este Sitio Web o sus servicios, entiéndase también realizar una compra, EL USUARIO se
            sujeta a los Términos y Condiciones que a continuación se enumeran. En consecuencia, EL USUARIO acepta que
            todos los contratos y transacciones que se realicen en este Sitio Web, como asimismo sus efectos jurídicos,
            quedarán regidos por estas reglas y sometidas a la normativa de la República del Ecuador en la materia.

            Los Términos y Condiciones contenidos en este instrumento se aplicarán y entenderán como parte de todos los
            actos y contratos que se ejecuten o celebren mediante los sistemas de oferta y comercialización comprendidos
            en este Sitio Web y entre los usuarios del mismo.

            El objetivo del Sitio Web es que EL USUARIO realice sus compras de manera más ágil y rápida. Ingresando sus
            datos y medio de pago, revisará visualmente los productos mientras los selecciona, verá el total de los
            objetos adquiridos a tiempo real y finalmente procederá con el pago.</p>
    </section>
</body>