<form>
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <input type="text" id="id" class="form-control" #id />
                <label class="form-label" for="id">ID</label>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <input type="text" id="producto" class="form-control" #producto />
                <label class="form-label" for="producto">Producto</label>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <input type="text" id="precio" class="form-control" #precio/>
                <label class="form-label" for="precio">Precio</label>
            </div>
        </div>
    </div>

    <div class="form-outline mb-4">
        <input type="text" id="cantidad" class="form-control"#cantidad />
        <label class="form-label" for="cantidad">Cantidad</label>
    </div>

    <div class="form-outline mb-4">
        <input type="text" id="descripcion" class="form-control" #descripcion/>
        <label class="form-label" for="descripcion">Descripción</label>
    </div>

    <div class="form-outline mb-4">
        <input type="email" id="marca" class="form-control" #marca/>
        <label class="form-label" for="marca">Marca</label>
    </div>

    <div class="form-outline mb-4">
        <input type="number" id="categoria" class="form-control" #categoria/>
        <label class="form-label" for="categoria">Categoria</label>
    </div>

    <div class="form-outline mb-4">
        <input type="number" id="codigo" class="form-control" #codigo />
        <label class="form-label" for="codigo">Código</label>
    </div>

    <div class="centrar">
        <button type="submit" class="btn btn-primary centrar" (click)="saveinventario(id.value, producto.value, precio.valueAsNumber, cantidad.valueAsNumber,descripcion.value,
        marca.value, categoria.value, codigo.value)">Guardar</button>
        <button type="submit" class="btn btn-success centrar" (click)="updateinventario(id.value, producto.value, precio.valueAsNumber, cantidad.valueAsNumber,descripcion.value,
        marca.value, categoria.value, codigo.value)">Actualizar</button>
        <button type="submit" class="btn btn-danger centrar" (click)="eliminarinventario(id.value)">Borrar</button>

    </div>
</form>