* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial;
}
.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo {
    color: #1d2787;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
.contenido-textos h3 span {
    background: #1d2787;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 0px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}
.contenido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

main .sobre-nosotros {
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.contenedor-quienes-somos {
    display: flex;
    justify-content: space-evenly;
}
.contenido-textoSN p {
    padding: 10px 50px 20px;
    font-weight: 300;
    text-align: justify;
}
.imagen-quienes-somos {
    width: 35%;
    border: 0cm;
    display: block;
    margin: auto;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
}
.textos-somos {
    margin-bottom: 40px;
    font-size: 18px;
    color: #000000;
    padding: 0 100px;
}
p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #ffffff;
    padding: 0 100px;
}
.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sau {
    padding: 30px;
    background: #1f1d1d
}
.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .5);
    margin: 2rem;
}
.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #1d2787;
    font-size: 2rem;
    margin: 1rem 0;
}
.box-container .box h3 {
    font-size: 20px;
    color: #1d2787;

}
.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}
.about {
    background: #2d2d2d;
}

.images-marcas {
    height: 60px;
    width: 60px;
}
.titulo-esp {
    color: #1d2787;
    font-size: 50px;
    text-align: justify;
    margin-bottom: 60px;
}
.textos-somos-esp {
    margin-bottom: 40px;
    font-size: 100px;
    font-size: x-large;
    color: #ffffff;
    padding: 30px;
    text-align: justify;
    background-color: #1f1d1d;
}
.image-revis {
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 10px;
}
.textos-somos-revis {
    margin-bottom: 40px;
    font-size: 18px;
    color: #000000;
    padding: 0 100px;
    text-align: justify;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.revista {
    display: flex;
    justify-content: center;
}
.imagen-port {
    width: 100%;
    display: block;
}