<section>
    <div>
        <img src="https://firebasestorage.googleapis.com/v0/b/ferreteria-appweb2.appspot.com/o/images%2Flogoc.jpeg?alt=media&token=1326b51f-f5df-4580-a8c0-df6ff1d3d3f8" class="imagen-port">
    </div>
</section>
<section>
    <div>
        <p class="textos-somos-esp">
            Recibimos a cada uno de nuestros clientes con entusiasmo, brindando un excelente servicio,
            con una cadena de valor eficiente que garantiza la satisfacción del cliente. En el año 2011
            inauguramos nuestra tienda física, ubicada en la ciudad de Quito, en el sector de calderón,
            y en el año 2019 nuestra tienda en línea que va complementándose cada día, ofreciendo el
            mismo servicio que nos caracteriza, pero ahora más cerca de nuestros clientes.
            <br>
            El gran prestigio y el posicionamiento alcanzado en el público desde la creación de la compañía
            en 1943 se han fortalecido desde que a fines de 2005 se convirtió en parte de la corporación favorita,
            la primera red minorista del país. El trabajo conjunto y continuo en estos últimos años se ha
            concentrado principalmente en relación con los servicios que se esfuerzan por cubrir todos los rincones
            del país con el mayor suministro de productos para mejorar la casa.
        </p>
    </div>
</section>

<section class="contenedor sobre-nosotros">
    <h2 class="titulo">¿Quienes somos?</h2>
    <div class="contenedor-sobre-nosotros">
        <img src="https://firebasestorage.googleapis.com/v0/b/ferreteria-appweb2.appspot.com/o/images%2FFoto%201.jpg?alt=media&token=ed2e5f94-b1f2-42ff-bbba-a01aafbcd135"
            alt="" class="imagen-about-us">
        <div class="contenido-textos">
            <h3 class="textos-somos"><span>1</span>Cadena comercial</h3>
            <p class="textos-somos">
                Somos una cadena comercial home center con las de 40 locales por todo Ecuador
                ofreciendo una gran cantidad de articulos a menor precio con asesoria profecional
            </p>
            <h3><span>2</span>Generadores de plazas de trabajo </h3>
            <p class="textos-somos">
                Siendo franquiciatario y distribuidoress exclusivos de Ace Hardwarecontando ademas con
                marcas propias
            </p>
            <h3><span>3</span> Gestores de datos seguros </h3>
            <p class="textos-somos">
                Tratamos tus datos con el fin de gestionar nuestra relación como cliente. Tienes derecho
                a acceder, rectificar y actualizar tus datos, así como a solicitar su supresión, limitación
                o eliminación. También tienes derecho a la portabilidad de tus datos cuando proceda y a consultar
                nuestro Registro Nacional de Protección de Datos Personales. Si quieres ejercer estos derechos
            </p>
        </div>
    </div>
</section>
<section class="revista">
    <div class="revis">
        <h2 class="titulo">Mamá mi primer regalo</h2>
        <p class="textos-somos-revis">
            <br>
            Regálale a mamá el amor que siempre te da, encuentra en Ecual-Elec hasta el 30% OFF en miles de productos. Compra
            el regalo perfecto y PAGA DESDE AGOSTO con tu #ClubEcuaElec
            <br>
            Te esperamos en todas nuestras tiendas a nivel nacional para poder buscar y formar el estilo hogareño que mas guste en tu hogar
        </p>
        <img src="https://firebasestorage.googleapis.com/v0/b/ferreteria-appweb2.appspot.com/o/images%2Fbaldo.jpg?alt=media&token=aaa656ac-3ffd-4f8d-b310-2b3cd2f58063" class="image-revis">
    </div>
    <div class="revis">
        <h2 class="titulo">Para el hombre del hogar</h2>
        <p class="textos-somos-revis">
            <br>
            Tenemos todo lo que necesitas para la elaboración del el area de juegos perfecto para tus hijos con herramientas basicas hasta las baldosas perfectas
            para hacer de ese espacio libre de accidentes.
            <br>
            Todo esto con el aroma a flores que todos amamos todo el día logrando traspasar aquellas aventuras imaginarias a la realidad siempre.
        </p>
        <img src="https://firebasestorage.googleapis.com/v0/b/ferreteria-appweb2.appspot.com/o/images%2Fponbal.jpg?alt=media&token=2d6aa126-a78d-4975-87ff-d7370c827f0d" class="image-revis">
    </div>
</section>
<section class="content sau">

    <h2 class="title">Marcas exclusivas</h2>
    <p>Las mejores marcas al mejor precio siempre disponibles.
    </p>

    <div class="box-container">

        <div class="box">
            <img src="https://firebasestorage.googleapis.com/v0/b/ferreteria-appweb2.appspot.com/o/images%2Ftiles-removebg-preview.png?alt=media&token=37196685-be64-45c6-b0e4-c02e29977d95"
                alt="" class="images-marcas">
            <h3>Tiles</h3>
            <p>Empresa familiar que hara que tus aspiraciones dentro de tu hogar se hagan realidad</p>
        </div>
        <div class="box">
            <img src="https://firebasestorage.googleapis.com/v0/b/ferreteria-appweb2.appspot.com/o/images%2Ftips.png?alt=media&token=b3841745-34a7-49c6-b4ae-9f828c07288c"
                alt="" class="images-marcas">
            <h3>Tips</h3>
            <p>Empresa nacional dedicada para el cuidado de tu familia</p>
        </div>
        <div class="box">
            <img src="https://firebasestorage.googleapis.com/v0/b/ferreteria-appweb2.appspot.com/o/images%2Fcg.png?alt=media&token=d5fd2836-95ca-45b0-87ab-56f9929f6e53"
                alt="" class="images-marcas">
            <h3>Colgate </h3>
            <p>Es una empresa multinacional presente en más de 200 países y demarcaciones territoriales dedicada a la
                fabricación</p>
        </div>

    </div>

</section>