<section class="contenedor sobre-nosotros">
    <h2 class="titulo">¿Quienes somos?</h2>
    <div class="contenedor-sobre-nosotros">
        <img src="https://firebasestorage.googleapis.com/v0/b/ferreteria-appweb2.appspot.com/o/images%2FFoto%201.jpg?alt=media&token=ed2e5f94-b1f2-42ff-bbba-a01aafbcd135" alt="" class="imagen-about-us">
        <div class="contenido-textos">
            <h3 class="textos-somos"><span>1</span>Cadena comercial</h3>
            <p class="textos-somos">
                Somos una cadena comercial home center con las de 40 locales por todo Ecuador
                ofreciendo una gran cantidad de articulos a menor precio con asesoria profecional
            </p>
            <h3><span>2</span>Generadores de plazas de trabajo </h3>
            <p class="textos-somos">
                Siendo franquiciatario y distribuidoress exclusivos de Ace Hardwarecontando ademas con
                marcas propias
            </p>
            <h3><span>3</span> Gestores de datos seguros </h3>
            <p class="textos-somos">
                Tratamos tus datos con el fin de gestionar nuestra relación como cliente. Tienes derecho 
                a acceder, rectificar y actualizar tus datos, así como a solicitar su supresión, limitación 
                o eliminación. También tienes derecho a la portabilidad de tus datos cuando proceda y a consultar 
                nuestro Registro Nacional de Protección de Datos Personales. Si quieres ejercer estos derechos
            </p>
        </div>
    </div>
</section>
<section class="content sau">

    <h2 class="title">Marcas exclusivas</h2>
    <p>Las mejores marcas al mejor precio siempre disponibles.
    </p>
    
    <div class="box-container">

        <div class="box">
            <img src="https://firebasestorage.googleapis.com/v0/b/ferreteria-appweb2.appspot.com/o/images%2Ftiles-removebg-preview.png?alt=media&token=37196685-be64-45c6-b0e4-c02e29977d95" alt="" class="images-marcas">
            <h3>Tiles</h3>
            <p>Empresa familiar que hara que tus aspiraciones dentro de tu hogar se hagan realidad</p>
        </div>
        <div class="box">
            <img src="https://firebasestorage.googleapis.com/v0/b/ferreteria-appweb2.appspot.com/o/images%2Ftips.png?alt=media&token=b3841745-34a7-49c6-b4ae-9f828c07288c" alt="" class="images-marcas">
            <h3>Tips</h3>
            <p>Empresa nacional dedicada para el cuidado de tu familia</p>
        </div>
        <div class="box">
            <img src="https://firebasestorage.googleapis.com/v0/b/ferreteria-appweb2.appspot.com/o/images%2Fcg.png?alt=media&token=d5fd2836-95ca-45b0-87ab-56f9929f6e53" alt="" class="images-marcas">
            <h3>Colgate </h3>
            <p>Es una empresa multinacional presente en más de 200 países y demarcaciones territoriales dedicada a la fabricación,</p>
        </div>

    </div>

</section>

