<h2 class="title">PRODUCTOS</h2>
<p>PRODUCTOS DISPONIBLES EN NUSTRA TIENDA.</p>

<div class="row">
    <div class="col-md-4" *ngFor="let producto of dataProducto">
        <div class="thumbnail">
            <a href={{producto.imagen}}>
                <img src={{producto.imagen}} alt="Lights" class="producto">

            </a>
            <div class="caption">
                <h5>Nombre: {{producto.producto}} {{producto.precio}} </h5>
                <h5>Descripción: {{producto.descripcion}} </h5>
            </div>
        </div>
    </div>
</div>