
.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}
p{
    margin-bottom: 40px;
    font-size: 18px;
    color: #0d0000;
    padding: 0 100px;
    text-align: center;
}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}
.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #ffffff;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(13, 1, 1, 0.607);
    margin: 2rem;   
}




img{
    width: 50%;
    height: 50%;
    text-align: center;
    
}

